html, body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #EBEB8E;
}

button {
    box-sizing: border-box;
    padding: 7.5px;
    z-index: 5;
    width: 13vh;
    height: 4.5vh;
    border-radius: 0.5em;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

.main-panel {
    width: 50vw;
    height: 15vh;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.tuner {
    width: 80vh;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.roulette {
    cursor: grab;
    z-index: 1;
    display: block;
    position: absolute;
    width: 97%;
    height: 97%;
    border-radius: 50%;
    border: thick solid #0A162F;
    background: conic-gradient(
        #8DAEB7 2%,
        #ED672D 2%,
        #ED672D 4%,
        #E7B111 4%,
        #E7B111 6%,
        #D1CEC4 6%,
        #D1CEC4 46%,
        #E7B111 46%,
        #E7B111 48%,
        #ED672D 48%,
        #ED672D 50%,
        #8DAEB7 50%,
        #8DAEB7 52%,
        #ED672D 52%,
        #ED672D 54%,
        #E7B111 54%,
        #E7B111 56%,
        #D1CEC4 56%,
        #D1CEC4 96%,
        #E7B111 96%,
        #E7B111 98%,
        #ED672D 98%
    );
}

.bottom-support {
    z-index: 3;
    background-color: #0A162F;
    display: block;
    position: absolute;
    bottom: 0;
    width: 97.5%;
    height: 50.5%;
}

.cover {
    display: block;
    position: absolute;
    z-index: 2;
    width: 97.25%;
    height: 97.25%;
    border-radius: 50%;
    rotate: 90deg;
    background: conic-gradient(
        #73BDBB 0%,
        #73BDBB 50%,
        transparent 50%
    );
}

.pointer-button {
    position: absolute;
    bottom: 42%;
}

.left-button {
    left: 27%;
}

.right-button {
    right: 27%;
}

.pointer-base {
    cursor: grab;
    z-index: 4;
    display: block;
    position: absolute;
    background: #D62137;
    width: 11.5%;
    height: 11.5%;
    border-radius: 50%;
    rotate: 180deg;
}
.pointer {
    position: absolute;
    width: 10%;
    height: 35vh;
    left: 45%;
    top: 47.5%;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background: #D62137;
    transform-origin: left center;
}

.card {
    z-index: 5;
    background-color: #73BDBB;
    align-self: flex-end;
    position: absolute;
    bottom: 8%;
    left: 20%;
    border-radius: 1rem;
    overflow: hidden;
    width: 60%;
    height: 22.5%;
    display: flex;
}
.word-container {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    background-color: #EBEB8E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.left-word {
    background-color: #EDB5B8;
}

.right-word {
    background-color: #306750;
}

.word {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

.card-button {
    position: absolute;
    bottom: 33%;
}

@media (max-height: 390px) {
    button {
        padding: 0;
        width: 10vw;
        height: 3vw;
    }
    .left-button {
        left: 15%;
    }
    .right-button {
        right: 15%;
    }
    .word {
        font-size: smaller;
    }
}
